body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

:root {
  --bg: #d9a299;
  --text: #faf7f3;
}

body.dark {
  --bg: #faf7f3;
  --text: #faf7f3;
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #fcd8cd;
}

.time {
  font-size: 3em;
  margin: 20px 0;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

ul#laps {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
